## 2079-03-17
### File handling

In [ ]:
# file = open('filename',modes) 
# file.close()

### Modes in file handling 
* r-->read 
* w --> write 
* a --> append
* x--> create

In [ ]:
# with open (filename, mode) as f:
#     Operations 
# f.close()

In [2]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("File already exist.")

File already exist.

In [5]:
b = open('data.txt','r')
x = b.read()
print(x)
b.close()

1.Hello Nepal
2. Hello World
3. Hello Solar system
4. Hello Galaxy
5. Hello Universe

In [6]:
type(x)

str

In [9]:
y = x.split('\n')

In [10]:
line = int(input("enter line"))
y[line-1]

'1.Hello Nepal'

In [11]:
c = open('data1.txt','w')
t = 'I am python, written from environment.'
c.write(t)
c.close()

In [12]:
d = open('data1.txt','r')
z = d.read()
print(z)
d.close()

I am python, written from environment.

In [14]:
## Billing system using file handling 
bill = str()
n = int(input("enter no. of data you want to store"))
for i in range(n):
    name = input('Enter name')
    price= int(input("enter price"))
    quantity = int(input("enter quantity"))
    total = price*quantity
    data  = f'{name}, {price}, {quantity}= {total}\n'
    bill +=data 

b = open('bill.txt','a')
b.write(bill)
b.close()

In [15]:
b = open('bill.txt','r')
y = b.read()
b.close()

In [20]:
data =y.split('\n')[0:-1]
for i in data:
    print(i.split())

['laptop,', '50000,', '5=', '250000']
['mobile,', '8000,', '4=', '32000']

In [21]:
final_data = []
for i in data:
    y = i.split()
    final_data.append(y)
print(final_data)

[['laptop,', '50000,', '5=', '250000'], ['mobile,', '8000,', '4=', '32000']]

In [24]:
total_amount = 0
for item in final_data:
    # ite = item[3]
    total_amount+=int(item[-1])
print(total_amount)

282000

In [34]:
bill = str()
n = int(input("enter no. of data you want to store"))
for i in range(n):
    name = input('Enter name')
    price= int(input("enter price"))
    quantity = int(input("enter quantity"))
    total = price*quantity
    data  = f'{name},{price},{quantity},{total}\n'
    bill +=data 

b = open('bill.csv','a')
b.write('Name,Price,Quantity,Total\n')
b.write(bill)
b.close()

In [35]:
import pandas as pd 
data = pd.read_csv('bill.csv')
data

     Name  Price  Quantity   Total
0  laptop  45000         5  225000
1  mobile   4500         5   22500

In [37]:
import os 
try:
    os.remove('bill.txt')
except:
    print("File not available.")

File not available.

In [38]:
pwd

'/home/lucifer/Desktop/Broadway Infosys Classes/python/Class-Codes'

In [48]:
import shutil as sh

sh.copy('data.txt','/home/lucifer/Desktop'
)

'/home/lucifer/Desktop/data.txt'

In [47]:
import shutil as sh

sh.copy('/home/lucifer/Desktop/data.txt','/home/lucifer/Desktop/Broadway Infosys Classes/python/Class-Codes'
)

'/home/lucifer/Desktop/Broadway Infosys Classes/python/Class-Codes/data.txt'