# 2079-03-30

In [6]:
# Comprehension list and dictionary

In [7]:
l = [x for x in range(1,int(input())) if x%2==0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
a = ['APPLE','Bat','Cat','Rat','Banana','pratt']
x = [i for i in a if i[0]=='A']

x

['APPLE']

In [15]:
y = [i for i in a if i.isupper()]
y

['APPLE']

In [17]:
# dict comprehension 
d ={i:i*i for i in range(1,5)}
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
d ={i:i*i for i in range(1,5) if i%2==0}
d

{2: 4, 4: 16}

In [20]:
z = {i:i.lower() for i in a}
z

{'APPLE': 'apple',
 'Bat': 'bat',
 'Cat': 'cat',
 'Rat': 'rat',
 'Banana': 'banana',
 'pratt': 'pratt'}

In [30]:
k = {j:a.index(j) for j in a }
k

{'APPLE': 0, 'Bat': 1, 'Cat': 2, 'Rat': 3, 'Banana': 4, 'pratt': 5}

In [32]:
[(x,y) for x in range(5) for y in range(5)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [60]:
import datetime 
y=datetime.datetime.now()
for i in range(1):
    print('Hello world')
x=datetime.datetime.now()

print(x-y)

Hello world
0:00:00.000160

In [65]:
print(datetime.datetime.now().strftime('%c'))

Thu Jul 14 07:41:57 2022

In [84]:
try:
    x = datetime.datetime.now()
    name = input("name")
    y = datetime.datetime.now()
    t = y-x 
    if t>=datetime.timedelta(seconds=(5)):
        raise Exception(f'time over! you take {t} seconds')
    print('you gotcha!')
except Exception as e:
    print(e)

time over! you take 0:00:08.101766 seconds