## 2079-03-14

# Tuple 
* indexing 
* ordered 
* multiple data 
* Imutable 
* enclosed with in ()

In [4]:
a: tuple
print(type(a))

<class 'tuple'>

In [6]:
#indexing 
a = ('apple','ball','cat','dog')
print(a[2])
print(a[2:4])
print(a[2:])

cat
('cat', 'dong')
('cat', 'dong')

In [16]:
c = (1,2,3,4,5)
d = ('apple','ball')
e = d+c
print(e)

('apple', 'ball', 1, 2, 3, 4, 5)

## Immutable 
does not support following methods:
* append(), insert(), extend()
* del pop(), remove()
* update
* sort

In [10]:
d = ('apple',)
print(d)

('apple',)

In [22]:
t = ()
n = int(input("enter tuple :"))
for i in range(n):
    x = input("enter item x:")
    t += (x,)
print(t)
print(type(t))

('2',)
<class 'tuple'>

we can convert tuple into list and insert items. then convert list back to the set.

In [26]:
print(d)
d  = list(d)
d

['apple', 'ball']

['apple', 'ball']

### addition support of list and set
* tuple inside list 
* tuple inside tuple 
* list inside tuple 
* list inside list

In [28]:
y = ('a','b',(1,2,3),'z',[7,8,9])
print(y)

('a', 'b', (1, 2, 3), 'z', [1, 2, 3])

In [30]:
a = ()
r = 3
c = 3
for i in range(r):
    t = ()
    for j in range(3):
        n = int(input('enter item'))
        t +=(n,)
    a+=(t,)
print(a)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [32]:
# converting tuple inside tuple into list inside list 
z = ((1, 2, 3), (1, 2, 3), (1, 2, 3))
k = []
for i in z:
    k.append(list(i))
k

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [36]:
# converting lsit inside list into tuple inside tuple
g = ()
for el in k:
    g+= (tuple(el),)
g

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [38]:
# list inside tuple
a =()
r = 3 
c = 3
for i in range(r):
    l =[]
    for j in range(c):
        n = int(input(''))
        l.append(n)
        # l = set(l) 
    a+=(l,)
print(a)

([1, 2, 3], [1, 2, 3], [1, 2, 3])

In [39]:
a =([1, 2, 3], [1, 2, 3], [1, 2, 3])
a[0][0]= 5
a

([5, 2, 3], [1, 2, 3], [1, 2, 3])

In [43]:
z = [(1,2,3),(4,5,6),(7,8,9)]
# z[0]=(3,2,1)
# z[0]+(0,) # tuple supprt concatenate 
z.append((7,8,9))
z

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (7, 8, 9)]

In [2]:
x = 1,2,3,4,5,6
dis = list(range(len(x)))
print(type(dis))

<class 'list'>