In [22]:
from postgres_python_conn import connector

In [5]:
create_script = '''
    CREATE TABLE IF NOT EXISTS employee(
        id int PRIMARY KEY,
        name varchar(40) NOT NULL,
        salary int,
        dept_id varchar(30)
        
    )
'''

In [4]:
delete_script = """
        DROP TABLE employe;
"""

In [32]:
read_script = """
select * from student_marks;
"""

In [28]:
# from postgres_python_conn import connector as conn

cur = None
conn = None
try: 
    conn = connector()
    print("Server connected!")
    cur = conn.cursor()

    # cur.execute(create_script)
    # success =conn.commit()
    # if success:
    #     print("Database Sucessfully created.")
    # else:
    #     print("Database alrealy found.")
    # cur.execute(delete_script)
    # conn.commit()
except Exception as e:
    print('error encountered!',e)
# finally:
#     if conn is not None:
#         conn.close()
#     if cur is not None:
#         cur.close()

Server connected!

In [26]:
cur.close()
conn.close()

In [34]:
delete_item=""" 
delete from student_marks where id=6;
"""

In [36]:
cur.execute(delete_item)
conn.commit()

In [37]:
cur.execute(read_script)
data =cur.fetchall()
for row in data:
    print(row)

(4, 'kd', 50, 50, 50, 50, 200, 50.0)
(2, 'mo', 50, 50, 50, 50, 200, 50.0)
(5, 'kd', 50, 50, 50, 50, 200, 50.0)

In [29]:
insert_data = """ 
insert into student_marks(name,physics,chemistry,math,english,total,percentage) values('kd',50,50,50,50,200,50)
"""

In [31]:
cur.execute(insert_data)
conn.commit()